# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\matij\OneDrive - Zagreb University of Applied Science\TVZ\4.semestar (ljeto 2021)\BAZE\Labosi\lab5\vjezba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
